[package]
name = "bakkes-sync"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[dependencies.libc]
version = "0.2"
default-features = false

[profile.release]
lto = true
strip = true
